@font-face {
  font-family: "positions";
  src: url("../font/PositionsByArixbored-Regular\ .otf");
}

@font-face {
  font-family: "zabal";
  src: url("../font/ZabalDEMO-Bold.otf");
}

:root {
  --honey-yellow: #ffc03b;
  --canary-yellow: #ffe9bb;
  --wood-brown: #432616;
  --caramel-brown: #8e4f2d;
  --milk-white: #fff9ec;
  --oak-red: #a33003;
  --tin-gray: #cccdc7;
  --blue-gray: #5f7f97;
  --toastify-color-success: #ffc03b;
  --warm-gray: #d8d4c8; 
  --stone-gray: #bdb6a8; 
  --ash-brown: #9a9387; 
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "zabal";
}

p,
button,
label,
span {
  font-family: "Segoe UI";
}

button {
  transition: color 0.2s cubic-bezier(0, -0.03, 0.2, 0.99);
  transition: background-color 0.2s cubic-bezier(0, -0.03, 0.2, 0.99);
}

.zoom-in {
  transition: transform 0.4s cubic-bezier(0, -0.03, 0.2, 0.99);
  transform: scale(1);
}

.zoom-in:hover {
  transform: scale(1.05);
}

.fade-out {
  opacity: 0;
}

.Toastify__toast {
  font-size: 13px;
}

::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
