#error-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--milk-white);
}

#error-main-div {
  text-align: center;
}

#error-main-div h1 {
  color: var(--oak-red);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

#error-main-div img {
  width: 30vw;
  /* filter: drop-shadow(0px 0px 20px #a44c2a10) */
}
