@media (max-width: 900px) {
  #login-form-main-div {
    min-width: 80vw;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  #login-form-main-div {
    min-width: 40vw;
  }
}

@media (min-width: 1400px) {
  #login-form-main-div {
    min-width: 30vw;
  }
}

@media (max-height: 700px) {
  #login-form-main-div {
    height: 70vh;
  }
}

@media (min-height: 700px) and (max-height: 900px) {
  #login-form-main-div {
    height:100vh;
  }
}

@media (min-height: 900px) {
  #login-form-main-div {
    height: 70vh;
  }
}

#login-username-label {
  margin-bottom: 10px;
}

#login-error-text {
  margin-top: 5px;
}
