@media (max-width: 900px) {
  #login-form-main-div {
    min-width: 80vw;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  #login-form-main-div {
    min-width: 40vw;
  }
}

@media (min-width: 1400px) {
  #login-form-main-div {
    min-width: 30vw;
  }
}

@media (max-height: 700px) {
  #login-form-main-div {
    height: 60vh;
  }
}

@media (min-height: 700px) and (max-height: 900px) {
  #login-form-main-div {
    height: 45vh;
  }
}

@media (min-height: 900px) {
  #login-form-main-div {
    height: 40vh;
  }
}

#login-form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form-main-div {
  padding: 40px;
  background-color: var(--honey-yellow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 50px #89898942);
}

#login-logo-img {
  width: 45px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#login-title {
  color: var(--wood-brown);
}

#login_username_label {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--branch-brown);
}

#login-btn {
  font-weight: 600;
  background-color: var(--milk-white);
  color: var(--wood-brown);
  border: 1.4px solid var(--wood-brown);
}

#login-error-text {
  color: var(--oak-red);
  margin-top: 5px;
}
