.nav-container {
  background-color: var(--honey-yellow);
  max-height: 60px;
  border-bottom: 2px solid var(--wood-brown);
  filter: 0px 0px 10px rgba(5, 5, 5, 0.632);
}

.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 2px 5px 2px 10px !important;
}

.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root.Mui-focused {
  border-color: rgb(255, 0, 0);
}

.nav-div {
  gap: 20px;
  width: 100%;
}

.nav-btn {
  border-radius: 17px;
  font-size: 14.5px;
  font-weight: 600;
}

.nav-btn-non-members {
  background-color: #f9d077;
  color: var(--wood-brown);
  border: 1.8px solid var(--wood-brown);
}

.nav-create-dropdown-title {
  color: var(--milk-white);
  margin-bottom: 0px;
}

.nav-create-dropdown .dropdown-title:active {
  color: var(--milk-white);
  background-color: var(--wood-brown);
}

.nav-dropdown .dropdown-toggle::after {
  display: none;
}

.nav-create-dropdown:hover .nav-create-dropdown-title {
  color: var(--wood-brown);
}

.nav-dropdown .dropdown-menu {
  padding: 0px 0px;
  font-size: 14px;
  max-width: 100px;
  min-width: 83px;
  border: 1.5px solid var(--wood-brown);
  background-color: var(--wood-brown);
}

.nav-dropdown .dropdown-item {
  width: 100%;
  padding: 8px 5px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: var(--wood-brown);
  background-color: var(--milk-white);
}

.nav-dropdown .dropdown-item:hover {
  background-color: var(--wood-brown);
  color: var(--milk-white);
}


.nav-profile-dropdown .dropdown-menu {
 left: -15px
}

#nav-profile-dropdown-logout-img {
    width: 30px
}


.nav-profile-dropdown .dropdown-toggle {
    padding: 0;
}


.nav-search-list {
  padding: 0px;
  margin-left: 0px;
}

.nav-search-value {
  margin: 0px 0px 0px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  font-size: 14px;
  font-weight: thick;
  color: var(--wood-brown);
  display: inline;
}

.nav-search-list-value-chip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--canary-yellow);
}

.nav-search-list-textfield .MuiAutocomplete-tag {
  max-width: 200px !important;
}

.nav-search-list-title {
  font-weight: 700;
  color: var(--wood-brown);
  margin: 0px 0px 5px 20px;
  text-decoration: underline;
  font-size: 15px;
}



.nav-search-list-item {
  color: var(--wood-brown);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-weight: 400;
}


.nav-search-list-item:hover{
    background-color: var(--canary-yellow);
}

.nav-search-list-item p {
  padding: 5px 0px 5px 20px;
  margin: 0px;
  font-size: 14.5px;
}

.nav-profile-div {
  border-radius: 50px;
  width: 45px;
  padding: 2px;
  background-color: var(--milk-white);
  aspect-ratio: 1/1;
}
.nav-profile-img {
  border-radius: 50px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
   filter: drop-shadow(0px 0px 5px var(--honey-yellow));
}
