.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 2px 5px 2px 10px !important;
}

.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root.Mui-focused {
  border-color: rgb(255, 0, 0);
}

.nav-div {
  gap: 20px;
  width: 100%;
}

.nav-btn {
  border-radius: 17px;
  font-size: 14.5px;
  font-weight: 600;
}

.nav-btn-non-members {
  background-color: #f9d077;
  color: var(--wood-brown);
  border: 1.8px solid var(--wood-brown);
}

.nav-create-dropdown-title {
  color: var(--milk-white);
  margin-bottom: 0px;
}

.nav-create-dropdown .dropdown-title:active {
  color: var(--milk-white);
  background-color: var(--wood-brown);
}


.nav-create-dropdown .dropdown-toggle::after {
  display: none;
}

.nav-create-dropdown:hover .nav-create-dropdown-title {
  color: var(--wood-brown);
}

.nav-create-dropdown .dropdown-menu {
  padding: 0px 0px;
  font-size: 14px;
  max-width: 100px;
  min-width: 83px;
  border: 1.5px solid var(--wood-brown);
  background-color: var(--wood-brown);
}

.nav-create-dropdown .dropdown-item {
  width: 100%;
  padding: 8px 5px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: var(--wood-brown);
  background-color: var(--milk-white);
}

.nav-create-dropdown .dropdown-item:hover {
  background-color: var(--wood-brown);
  color: var(--milk-white);
}

.nav-profile-div {
  border-radius: 50px;
  width: 45px;
  background-color: var(--milk-white);
  aspect-ratio: 1/1;
}

.nav-profile-img {
  border-radius: 50px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
