#profile-container {
  padding: 40px 20px;
}

#profile-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

#profile-img-div {
  padding: 5px;
  border-radius: 50%;
  width: 120px;
  background-color: var(--canary-yellow);
  border: 2px solid var(--caramel-brown);
  filter: drop-shadow(0px 0px 10px rgba(154, 153, 153, 0.326));
}

#profile-img-div img {
  width: 100%;
  filter: drop-shadow(0px 0px 3px var(--honey-yellow));
}
